/.proyecto_final_env
.proyecto_final_env
.proyecto_final_env/
/.data
.data
.data/

/Sprint-2/automatizacion_etl/dags/__pycache__
Sprint-2/automatizacion_etl/dags/__pycache__
Sprint-2/automatizacion_etl/dags/__pycache__/